@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --plano-de-fundo: #8091db;
    --cor-secundaria: #46678d;
    --cor-secundaria-hover: #2f3853;
    --cor-fonte-principal: #000000;
    --cor-fonte-secundaria: #265073;

    --fonte-principal: "Exo", sans-serif;
}


body {
    background-color: var(--plano-de-fundo);
    font-family: var(--fonte-principal);
}

.header__list{
    display: flex;
    color: var(--fonte-principal);
    font-size: 1.2rem;
    background-color: var(--cor-secundaria);
    padding-left: 2rem;
}

.header__list-item {
    padding:0 1rem;
}

.principal{
    margin-top: 3rem;
}

.titulo__validador{
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
}

.subtitulo__validador{
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem;
}

.validador__principal{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.simbolo__texto{
    font-size: 3.5em;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    text-align: center;
}

.validador__input{
    width: 3rem;
    height: 3rem;
    font-size: 2em;
    border-radius: 20%;
}

.validadores{
    font-size: 3rem;
    font-weight: 600;
    border: 3px solid black;
    background-color: lightgrey;
}

.start__botao{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.botao{
    color: var(--cor-fonte-principal);
    background-color: var(--cor-secundaria);
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 600;
}

.botao:hover{
    background-color: var(--cor-secundaria-hover);
    color: white;
}

.rodape{
    background-color: var(--cor-secundaria);
    text-align: center;
    padding: .3rem;
    font-weight: 600;
    position: fixed;
    bottom: 0%;
    width: 100%;
}